<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add AlertWordCountSetting</title>
</head>
<body>
	<form action="#" th:action="@{/alertwordcountsettings/add}" th:object="${alertWordCountSetting}" method="post">
	   <input type="text" th:field="*{name}" placeholder="Name"/>
	   <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid setting name</span>
	   <br/>
	   <input type="text" th:field="*{value}" placeholder="Value"/>
	   <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Invalid value</span>
	   <br/>
	   <input type="submit" value="Add AlertWordCountSetting"/>
	</form>
	<br/><br/>
	<table>
		<caption>AlertWordCountSettings</caption>
	    <tr>
	      <td>Name</td>
	      <td>Value</td>
	    </tr>
		<tr th:each="alertwordcountsetting : ${alertwordcountsettings}">
			<td th:text="${alertwordcountsetting.name}"></td>
			<td th:text="${alertwordcountsetting.value}"></td>
			<td><a th:href="@{/alertwordcountsettings/remove/__${alertwordcountsetting.id}__}">Remove</a></td>
			<td><a th:href="@{/alertwordcountsettings/update/__${alertwordcountsetting.id}__}">Update</a></td>
		</tr>
	</table>
</body>
</html>