<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add AlertWordCountListener</title>
</head>
<body>
	<form action="#" th:action="@{/alertwordcountlisteners/add}"
		th:object="${alertWordCountListener}" method="post">

		<div>
			<select th:field="*{mailAddress.id}" id="optionsList"
				name="optionsListId">
				<option value="0">Select Mail Address</option>
				<option th:each="mailaddress : ${mailaddresses}"
					th:value="${mailaddress.id}" th:text="${mailaddress.address}"></option>
			</select> &nbsp;&nbsp;<span th:if="${#fields.hasErrors('mailAddress.id')}"
				th:errors="*{mailAddress.id}">Invalid user name</span>
		</div>
		<br /> <input type="submit" value="Add Listener" />
	</form>
	<br />
	<h3>Alert WordCount Listeners</h3>
	<table>
		<tr>
			<td><b>Address</b></td>
		</tr>
		<tr th:each="alertwordcountlistener : ${alertwordcountlisteners}">
			<td th:text="${alertwordcountlistener.mailAddress.address}"></td>
			<td><a th:href="@{/alertwordcountlisteners/remove/__${alertwordcountlistener.mailAddress.id}__}">Remove</a></td>
		</tr>
	</table>
</body>
</html>