<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Mail Address to Project</title>
</head>
<body>
	<h4>Add Mail Address to Project</h4>
	<div>
		<form action="#"
			th:action="@{/projects/__${project.id}__/add/mailAddress}"
			method="post">
			<div th:object="${project}">
				<input type="hidden" th:field="*{id}" /> <input type="text"
					th:field="*{name}" readonly="readonly" />
			</div>

			<br />

			<div th:object="${mailAddress}">
				<select th:field="*{address}">
					<option value="">Select Mail Address</option>
					<option th:each="address : ${mailAddresses}"
						th:value="${address.address}" th:text="${address.address}"></option>
				</select> <label th:if="${#fields.hasErrors('address')}"
					th:errors="*{address}"></label>
			</div>
			<br /> <input type="submit" value="Add" />
		</form>
	</div>
	<div th:if="${!addresses.empty}">
		<h4>Mail Addresses that are Member of Project</h4>
		<table>
			<tr>
				<td>Address</td>
				<td>Action</td>
			</tr>
			<tr th:each="mailAddress : ${addresses}">
				<td th:text="${mailAddress.address}"></td>
				<td><a th:href="@{../delete/__${mailAddress.id}__}">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>