<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Mail Address</title>
</head>
<body>
	<div>
		<h4>Add Mail Address Form</h4>
		<form action="#" th:action="@{/mailAddresses/add}"
			th:object="${mailAddress}" method="post">

			<input type="text" th:field="*{name}" placeholder="Name" /> <span
				th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br />
			<br /> <input type="email" th:field="*{address}"
				placeholder="Mail Address" /> <span
				th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span><br />
			<br /> <input type="submit" value="Add" />

		</form>
	</div>
	<div th:if="${!mailAddresses.empty}">
		<h4>Mail Addresses</h4>
		<table>
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Address</td>
				<td>Actions</td>
			</tr>
			<tr th:each="mailAddress : ${mailAddresses}">
				<td th:text="${mailAddress.id}"></td>
				<td th:text="${mailAddress.name}"></td>
				<td th:text="${mailAddress.address}"></td>
				<td><a th:href="@{edit/__${mailAddress.id}__}">Edit</a> &nbsp;
					<a th:href="@{delete/__${mailAddress.id}__}">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>