<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Project</title>
</head>
<body>
	<div>
		<h4>Add Project Form</h4>
		<form action="#" th:action="@{/projects/add}" th:object="${project}"
			method="post">
			<input type="text" th:field="*{name}" placeholder="Project Name" />
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			<br /> <br /> <input type="submit" value="Add" />
		</form>
	</div>
	<div th:if="${!projects.empty}">
		<h4>Projects Lists</h4>
		<table>
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Actions</td>
				<td>Setting</td>
			</tr>
			<tr th:each="project : ${projects}">
				<td th:text="${project.id}"></td>
				<td th:text="${project.name}"></td>
				<td><a th:href="@{edit/__${project.id}__}">Edit</a> &nbsp; <a
					th:href="@{delete/__${project.id}__}">Delete</a></td>
				<td><a th:href="@{__${project.id}__/add/mailAddress}">Add
						MailAddress</a></td>
			</tr>
		</table>
	</div>
</body>
</html>
