<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail Property Setting</title>
</head>
<body>
	<form action="#" th:action="@{/mailpropertysetting/add}" th:object="${mailPropertySetting}" method="post">
	 <input type="text" th:field="*{value}" placeholder="Mail Property Value"/>
	 <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Invalid Data </span>	 
	 <br/>
	  <select th:field="*{mailAddress.id}">
	   <option value="0" selected="selected">Mail Address</option>
	   <option th:each="mailAddressList : ${mailAddressLists}"
				th:value="${mailAddressList.id}"
				th:text="${mailAddressList.address}" />
		</select>
		<span th:if="${#fields.hasErrors('mailAddress.id')}" th:errors="*{mailAddress.id}">Invalid Data </span> <br/>
	   <select th:field="*{mailPropertyKey.id}">
	   <option value="0" selected="selected">Mail Property Key</option>
	   <option th:each="mailPropertyKey : ${mailPropertyKeys}"
				th:value="${mailPropertyKey.id}"
				th:text="${mailPropertyKey.name}" />
		</select>
	  <span th:if="${#fields.hasErrors('mailPropertyKey.id')}" th:errors="*{mailPropertyKey.id}">Invalid Data </span>
	  <br/>
	   <input type="submit" value="Add"/>
	</form>
	<br/>
	<table>
	    <tr>
	      <td>MailAddress </td>
	      <td>MailPropertyKey</td>
	      <td> Value </td>
	    </tr>
		<tr th:each="mailPropertySetting : ${mailPropertySettings}" align = 'center'>
			<td th:text="${mailPropertySetting.mailAddress.address}"></td>
			<td th:text="${mailPropertySetting.mailPropertyKey.name}"></td>
			<td th:text="${mailPropertySetting.value}"></td>
			<td><a th:href="@{/mailpropertysetting/edit/__${mailPropertySetting.mailPropertyKey.id}__/__${mailPropertySetting.mailAddress.id}__}"> edit </a></td>
			<td><a th:href="@{/mailpropertysetting/delete/__${mailPropertySetting.mailPropertyKey.id}__/__${mailPropertySetting.mailAddress.id}__}"> delete </a></td>			
		</tr>
	</table>
</body>
</html>
