<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail Property Key</title>
</head>
<body>

	<h4> Mail Property Keys</h4>
<div>
	<form action="#" th:action="@{/mail_property_keys/add}" th:object="${mailPropertyKey}" method="post">
	   <input type="text" th:field="*{name}" placeholder="Mail Property Key" />
	   <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid Data </span><br/>
	   <input type="submit" value="add"/>
	</form>
</div>
		<br/>
		<h4> Mail Property Key List</h4>
		<table border ="1">
	    <tr>
	      <td>Mail Property Key Name</td>
	      <td colspan ="2" align = "center" > Actions </td>
	    </tr>
		<tr th:each="mailPropertyKey : ${mailPropertyKeys}">
			<td th:text="${mailPropertyKey.name}"></td>
			<td width="20%"><a th:href="@{/mail_property_keys/__${mailPropertyKey.id}__/delete}"> Delete </a></td>
			<td width="20%"><a th:href="@{/mail_property_keys/__${mailPropertyKey.id}__/update}"> Edit </a></td>
		</tr>
	</table>
</body>
</html>