<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail Address Setting</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}"/>
</head>
<body>
	 <div th:replace="fragments/header :: header"></div>
	<br/><br/>
	<div>
		<h4 th:text="${updated}">Mail Address is updated..</h4>
	</div>
	<div>
		<h3>Edit Mail Address</h3>
		<form class="form-inline" action="#" th:action="@{/mail_addresses/__${mailAddress.id}__/update}" th:object="${mailAddress}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
			<input class="form-control" type="text" th:field="*{name}" placeholder="Name" />
			</div>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			<br /><br/>
			<div class="form-group">
			<input class="form-control" type="email" th:field="*{address}" placeholder="Mail Address" />
			</div>
			<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
			<br /><br/>
			<input class="btn btn-default" type="submit" value="Edit" />
		</form>
	</div>
	<hr />
	<div>
		<div>
			<h3>Property Settings</h3>
			<form class="form-inline" action="#" th:action="@{/mail_addresses/__${mailAddress.id}__/mail_property_settings/add}" th:object="${mailPropertySetting}" method="post">
						<div class="form-group">
							<select class="form-control" th:field="*{mailPropertyKey.id}">
								<option value="0" selected="selected">Mail Property Key</option>
								<option th:each="mailPropertyKey : ${mailPropertyKeys}" th:value="${mailPropertyKey.id}" th:text="${mailPropertyKey.name}" />
							</select>
						</div>
						<span th:if="${#fields.hasErrors('mailPropertyKey.id')}" th:errors="*{mailPropertyKey.id}">Invalid Data </span>
						<br/><br/>
							<input type="hidden" th:field="*{mailAddress.id}" />
						<div class="form-group">
							<input class="form-control" type="text" th:field="*{value}" placeholder="Value" />
						</div>
						<span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Invalid Data </span>
						<br/><br/>
							<input class="btn btn-default" type="submit" value="Add" />
			</form>
		</div>
		<br/>
		<table class = "table table-striped" th:if="${!mailPropertySettings.empty}">
			<tr>
				<th>MailPropertyKey</th>
				<th>Value</th>
				<th colspan="2">Actions</th>
			</tr>
			<tr th:each="mailPropertySetting : ${mailPropertySettings}">
				<td th:text="${mailPropertySetting.mailPropertyKey.name}"></td>
				<td th:text="${mailPropertySetting.value}"></td>
				<td>
					<input type="hidden" th:value="${mailPropertySetting.mailAddress.id}" />
					<input type="hidden" th:value="${mailPropertySetting.mailPropertyKey.id}" />
					<a th:href="@{/mail_addresses/__${mailAddress.id}__/mail_property_settings/__${mailPropertySetting.mailPropertyKey.id}__/update}">Edit</a>
				</td>
				<td>
					<a th:href="@{/mail_addresses/__${mailAddress.id}__/mail_property_settings/__${mailPropertySetting.mailPropertyKey.id}__/delete}">Delete</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>