<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail Count Listener</title>
</head>
<body>
	<h4> Mail Count Listener </h4>
	<form action="#" th:action="@{/mailcountlisteners/add}" th:object="${mailCountListener}" method="post">
	<select th:field="*{mailAddress.id}">
	   <option value="0" selected="selected">Select Mail Address</option>
	   <option th:each="mailAddressList : ${mailAddressLists}"
			th:value="${mailAddressList.id}"
			th:text="${mailAddressList.address}" />
	</select>
		<span th:if="${#fields.hasErrors('mailAddress.id')}" th:errors="*{mailAddress.id}">Invalid Data </span>
		<br/>
		<input type="submit" value="Add"/>
	</form>
	<br/>
	<table>
	    <tr>
	      <td>Mail Address ID </td>
	      <td>Mail Address </td>
	    </tr>
		<tr th:each="mailCountListener : ${mailCountListeners}" align = 'center'>
			<td th:text="${mailCountListener.mailAddress.id}"></td>
			<td th:text="${mailCountListener.mailAddress.address}"></td>
			<td><a th:href="@{/mailcountlisteners/delete/__${mailCountListener.mailAddress.id}__}"> delete </a></td>
		</tr>
	</table>
</body>
</html>
