<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail Address Setting</title>
</head>
<body>
	<div>
		<h4 th:text="${updated}">Mail Address is updated..</h4>
	</div>
	<div>
		<h3>Edit Mail Address</h3>
		<form action="#"
			th:action="@{/mail_addresses/__${mailAddress.id}__/update}"
			th:object="${mailAddress}" method="post">
			<input type="hidden" th:field="*{id}" />
			<input type="text" th:field="*{name}" placeholder="Name" />
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			<br />
			<input type="email" th:field="*{address}"
				placeholder="Mail Address" />
			<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
			<br /> <input type="submit" value="Edit" />
		</form>
	</div>
	<hr />
	<div>
		<div>
			<h3>Property Settings</h3>
			<form action="#"
				th:action="@{/mail_addresses/__${mailAddress.id}__/mail_property_settings/add}"
				th:object="${mailPropertySetting}" method="post">
				<table>
					<tr>
						<td>
							<select th:field="*{mailPropertyKey.id}">
								<option value="0" selected="selected">Mail Property Key</option>
								<option th:each="mailPropertyKey : ${mailPropertyKeys}"
									th:value="${mailPropertyKey.id}" th:text="${mailPropertyKey.name}" />
							</select>
						</td>
						<td>
							<input type="text" th:field="*{value}" placeholder="Value" />
						</td>
						<td>
							<input type="submit" value="Add" />
						</td>
					</tr>
					<tr>
						<td><span th:if="${#fields.hasErrors('mailPropertyKey.id')}"
							th:errors="*{mailPropertyKey.id}">Invalid Data </span></td>
						<td><span th:if="${#fields.hasErrors('value')}"
							th:errors="*{value}">Invalid Data </span></td>
						<td></td>
					</tr>
				</table>
			</form>
		</div>
		<br/>
		<table border="1" th:if="${!mailPropertySettings.empty}">
			<tr>
				<th>MailPropertyKey</th>
				<th>Value</th>
				<th colspan="2">Actions</th>
			</tr>
			<tr th:each="mailPropertySetting : ${mailPropertySettings}"
				align='center'>	
				<td th:text="${mailPropertySetting.mailPropertyKey.name}"></td>
				<td th:text="${mailPropertySetting.value}"></td>
				<td>
					<input type="hidden" th:value="${mailPropertySetting.mailAddress.id}" />
					<input type="hidden" th:value="${mailPropertySetting.mailPropertyKey.id}" />
					<a
					th:href="@{/mail_addresses/__${mailAddress.id}__/mail_property_settings/__${mailPropertySetting.mailPropertyKey.id}__/update}">
						edit
					</a>
				</td>
				<td>
					<a
					th:href="@{/mail_addresses/__${mailAddress.id}__/mail_property_settings/__${mailPropertySetting.mailPropertyKey.id}__/delete}">
						delete
					</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>