<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mails Information</title>
</head>
<body>
	<div>
		<a th:href="@{/result/mails}">Mails Informations</a> <a
			th:href="@{/result/mail_counts}">Mail Counts Informations</a> <a
			th:href="@{/result/alert_word_counts}">Alert Word Counts
			Informations</a>
	</div>
	<h4>Mails Information</h4>
	<div th:if="${!mails.empty}">
		<table border="1">
			<tr>
				<th>ID</th>
				<th>Address</th>
				<th>Raw_FilePath</th>
				<th>Type</th>
				<th>Date</th>
			</tr>
			<tr th:each="mail : ${mails}">
				<td th:text="${mail.id}"></td>
				<td th:text="${mail.mailAddress.address}"></td>
				<td>
					<table th:each="filePath : ${mail.mailRawDatapaths}">
						<tr>
							<td th:text="${filePath.filePath}"></td>
						</tr>
					</table>
				</td>
				<td>
					<table th:each="filePath : ${mail.mailRawDatapaths}">
						<tr>
							<td th:text="${filePath.type}"></td>
						</tr>
					</table>
				</td>
				<td th:text="${mail.date}"></td>
			</tr>
		</table>
	</div>
</body>
</html>