<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail Property Key</title>
</head>
<body>

<form action="#" th:action="@{/mailpropertykey/add}" th:object="${mailPropertyKey}" method="post">
	   <input type="text" th:field="*{name}" placeholder="Mail Property Key" />
	   <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid Data </span> <br/>  
	   <input type="submit" value="add"/>
	</form>
		<br/>
		<table>
	    <tr>
	      <td>Id</td>
	      <td>Name</td>
	    </tr>
		<tr th:each="mailPropertyKey : ${mailPropertyKeys}">
			<td th:text="${mailPropertyKey.id}"></td>
			<td th:text="${mailPropertyKey.name}"></td>
		</tr>
	</table>
</body>
</html>
