<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mails Information</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}"/>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<br/>
	<h3>Mails Information</h3>
	<br/>
	<div th:if="${!mails.empty}">
		<table class = "table table-striped">
			<tr>
				<th>ID</th>
				<th>Address</th>
				<th>Raw_FilePath</th>
				<th>Type</th>
				<th>Date</th>
			</tr>
			<tr th:each="mail : ${mails}">
				<td th:text="${mail.id}"></td>
				<td th:text="${mail.mailAddress.address}"></td>
				<td>
					<table th:each="filePath : ${mail.mailRawDatapaths}">
						<tr>
							<td th:text="${filePath.filePath}"></td>
						</tr>
					</table>
				</td>
				<td>
					<table th:each="filePath : ${mail.mailRawDatapaths}">
						<tr>
							<td th:text="${filePath.type}"></td>
						</tr>
					</table>
				</td>
				<td th:text="${mail.date}"></td>
			</tr>
		</table>
	</div>
</body>
</html>