<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projects</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	    <div th:replace="fragments/header :: header"></div>
		<br/><br/>
	<div>
		<h3>Project List</h3>
		<form class="form-inline" action="#" th:action="@{/projects/add}" th:object="${project}"
			method="post">
			<div class="form-group">
			<input class="form-control" type="text" th:field="*{name}" placeholder="Project Name" />
			</div>
			<input class="btn btn-default" type="submit" value="Add" /><br/>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</form>
	</div>
	<br/>
	<div th:if="${!projects.empty}">
		<table class = "table table-striped">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th colspan="2">Actions</th>
			</tr>
			<tr th:each="project : ${projects}">
				<td th:text="${project.id}"></td>
				<td th:text="${project.name}"></td>
				<td><a th:href="@{/projects/__${project.id}__/delete}">Delete</a></td>
				<td><a th:href="@{/projects/__${project.id}__/setting}">Setting</a></td>
			</tr>
		</table>
	</div>
</body>
</html>