<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Setting</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}"/>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<br/><br/>
	<div>
		<h3>Update Project Name</h3>
		<form class="form-inline" action="#" th:action="@{/projects/__${project.id}__/update}" th:object="${project}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
			<input class="form-control" type="text" th:field="*{name}" placeholder="Project Name" />
			</div>
			<input class="btn btn-default" type="submit" value="Rename" /> <br /> <br />
			<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
		</form>
	</div>

	<hr />

	<div>
		<h3>Mail Address</h3>
		<form class="form-inline" action="#" th:action="@{/projects/__${project.id}__/addresses/add}" th:object="${mailAddress}" method="post">
			<div class="form-group">
				<select class="form-control" th:field="*{id}">
					<option value="">Select Mail Address</option>
					<option th:each="mailAddress : ${mailAddressList}" th:value="${mailAddress.id}" th:text="${mailAddress.address}"></option>
				</select>
				</div>
				<input class="btn btn-default" type="submit" value="Add" /> <br /> <br />
				<label th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></label>
		</form>
	</div>
	<div th:if="${!mailAddresses.empty}">
		<table class = "table table-striped">
			<tr th:each="address : ${mailAddresses}">
				<td th:text="${address.address}"></td>
				<td><a th:href="@{/projects/__${project.id}__/addresses/__${address.id}__/delete}">Delete</a></td>
			</tr>
		</table>
	</div>

	<hr />

	<div>
		<h3>Alert Word Rule</h3>
		<div th:if="${alertWordRule}">
			<form class="form-inline" action="#" th:action="@{/projects/__${project.id}__/alert_word_rule}" th:object="${alertWordRule}" method="post">
				<input type="hidden" th:field="*{project.id}" />
				<div class="form-group">
				<input class="form-control" type="number" th:field="*{threshold}" placeholder="Threshold"/>
				</div>
				<input class="btn btn-default" type="submit" name="update" value="Update"/>
				<input class="btn btn-default" type="submit" name="delete" value="Delete"/><br />
				<span th:if="${#fields.hasErrors('threshold')}" th:errors="*{threshold}"></span>
			</form>
		</div>
		<div th:unless="${alertWordRule}">
			<form class="form-inline" action="#" th:action="@{/projects/__${project.id}__/alert_word_rule/add}"
				th:object="${newAlertWordRule}" method="post">
				<div class="form-group">
				<input class="form-control" type="number" th:field="*{threshold}" placeholder="Threshold" />
				</div>
				<input class="btn btn-default" type="submit" value="Add" /><br />
				<span th:if="${#fields.hasErrors('threshold')}" th:errors="*{threshold}"></span>
			</form>
		</div>
	</div>
	<br />
	<hr />
	
	<div>
		<h3>Mail Count Rule</h3>
		<div th:if="${mailCountRule}">
			<form class="form-inline" action="#" th:action="@{/projects/__${project.id}__/mail_count_rule}" th:object="${mailCountRule}" method="post">
				<input type="hidden" th:field="*{project.id}" />
				<div class="form-group">
				<input class="form-control" type="number" th:field="*{threshold}" placeholder="Threshold"/>
				</div>
				<input class="btn btn-default" type="submit" name="update" value="Update"/>
				<input class="btn btn-default" type="submit" name="delete" value="Delete"/> <br />
				<span th:if="${#fields.hasErrors('threshold')}" th:errors="*{threshold}"></span>
			</form>
		</div>
		<div th:unless="${mailCountRule}">
			<form class="form-inline" action="#"
				th:action="@{/projects/__${project.id}__/mail_count_rule/add}"
				th:object="${newMailCountRule}" method="post">
				<div class="form-group">
				<input class="form-control" type="number" th:field="*{threshold}" placeholder="Threshold" />
				</div>
				<input class="btn btn-default" type="submit" value="Add" /><br />
				<span th:if="${#fields.hasErrors('threshold')}" th:errors="*{threshold}"></span>
			</form>
		</div>
	</div>
	<br />
	<hr />
</body>
</html>