<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Project Setting</title>
</head>
<body>
	<div>
		<h4>Update Project Name</h4>
		<form id="update_form" action="#" th:action="@{/projects/__${project.id}__/update}" th:object="${project}" method="post">
			<input type="hidden" th:field="*{id}" /> 
			<input type="text" th:field="*{name}" placeholder="Project Name" /> 
			<input type="submit" value="Rename" /> <br /> <br /> 
			<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
		</form>
	</div>

	<hr />

	<div>
		<h4>Mail Address</h4>
		<form id="add_form" action="#" th:action="@{/projects/__${project.id}__/addresses/add}" method="post">
			<div th:object="${address}">
				<select th:field="*{address}">
					<option value="">Select Mail Address</option>
					<option th:each="mailAddress : ${addressList}" th:value="${mailAddress.address}" th:text="${mailAddress.address}"></option>
				</select>
				<input type="submit" value="Add" /> <br /> <br /> 
				<label th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></label>
			</div>
		</form>
	</div>
	<br />
	<div th:if="${!addresses.empty}">
		<table>
			<tr th:each="address : ${addresses}">
				<td th:text="${address.address}"></td>
				<td><a th:href="@{/projects/__${project.id}__/addresses/__${address.id}__/delete}">delete</a></td>
			</tr>
		</table>
	</div>

	<hr />

	<div>
		<h4>Alert Word Rule</h4>
		<div th:if="${alertWordRule}" th:object="${alertWordRule}">
		<!-- <input type="hidden" th:field="*{id}" /> -->
			<input type="hidden" th:field="*{project.id}" />
			<input type="text" th:field="*{threshold}" placeholder="Threshold"/>
			<a th:href="@{/projects/__${project.id}__/alertwordrule/__${id}__/update}">Update</a>
			<a th:href="@{/projects/__${project.id}__/alertwordrule/__${id}__/delete}">delete</a>
			<br/>
			<span th:if="${#fields.hasErrors('threshold')}" th:errors="*{threshold}">Invalid threshold</span>		
		</div>
		<div th:unless="${alertWordRule}">
			<form id="add_alert_form" action="#"
				th:action="@{/projects/__${project.id}__/alertwordrule/add}"
				th:object="${newAlertWordRule}" method="post">
				<input type="text" th:field="*{threshold}" placeholder="Threshold" />
				<input type="submit" value="Add" /><br /> 
				<span th:if="${#fields.hasErrors('threshold')}" th:errors="*{threshold}">Invalid threshold</span>
			</form>
		</div>
	</div>
	
	<hr />
	
	<!-- <div>
		<h4>Mail Count Rule</h4>
		<div th:if="${alertWordRule}" th:object="${alertWordRule}">
		<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{project.id}" />
			<input type="text" th:field="*{threshold}" placeholder="Threshold"/>
			<a th:href="@{/projects/__${project.id}__/alertwordrule/__${id}__/update}">Update</a>
			<a th:href="@{/projects/__${project.id}__/alertwordrule/__${id}__/delete}">delete</a>
			<br/>
			<span th:if="${#fields.hasErrors('threshold')}" th:errors="*{threshold}">Invalid threshold</span>		
		</div>
		<div th:unless="${alertWordRule}">
			<form id="add_alert_form" action="#"
				th:action="@{/projects/__${project.id}__/alertwordrule/add}"
				th:object="${newAlertWordRule}" method="post">
				<input type="text" th:field="*{threshold}" placeholder="Threshold" />
				<input type="submit" value="Add" /><br /> 
				<span th:if="${#fields.hasErrors('threshold')}" th:errors="*{threshold}">Invalid threshold</span>
			</form>
		</div>
	</div> -->

</body>
</html>