<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Notification Setting</title>
</head>
<body>
<div>
	<h4>Alert Word Count Settings</h4>
	<form action="#" th:action="@{/settings/alert_word_count/add}" th:object="${alertWordCountSetting}" method="post">
	   <select th:field="*{name}">
	   <option value="0" selected="selected">Alert Word Count Setting Name</option>
	   <option th:each="alertWordCountSettingName : ${alertWordCountSettingNames}"
			th:value="${alertWordCountSettingName}"
			th:text="${alertWordCountSettingName}" />
		</select>
	   <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid setting name</span>
	   <br/>
	   <input type="text" th:field="*{value}" placeholder="Value"/>
	   <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Invalid value</span>
	   <br/>
	   <input type="submit" value="Add"/>
	</form>
	<h3>Alert Word Count Settings</h3>
	<table border="1">
	    <tr align="center">
	      <th>Name</th>
	      <th>Value</th>
	      <th colspan="2">Actions</th>
	    </tr>
		<tr th:each="alertWordCountSetting : ${alertWordCountSettings}">
			<td th:text="${alertWordCountSetting.name}"></td>
			<td th:text="${alertWordCountSetting.value}"></td>
			<td width="10%"><a th:href="@{/settings/alert_word_count/__${alertWordCountSetting.id}__/delete}"> Delete </a></td>
			<td width="10%"><a th:href="@{/settings/alert_word_count/__${alertWordCountSetting.id}__/update}"> Edit </a></td>
		</tr>
	</table>
</div>
<br/>
<hr/>

<div>
	<h4>Mail Count Settings</h4>
	<form action="#" th:action="@{/settings/mail_count/add}" th:object="${mailCountSetting}" method="post">
	   <select th:field="*{name}">
	   <option value="0" selected="selected">Mail Count Setting Name</option>
	   <option th:each="mailCountSettingName : ${mailCountSettingNames}"
				th:value="${mailCountSettingName}"
				th:text="${mailCountSettingName}" />
		</select>
	   <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid setting name</span>
	   <br/>
	   <input type="text" th:field="*{value}" placeholder="Value"/>
	   <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Invalid value</span>
	   <br/>
	   <input type="submit" value="Add"/>
	</form>
	<br/><br/>
	<h3>Mail Count Settings</h3>
	<table border="1">
	    <tr>
	      <th>Name</th>
	      <th>Value</th>
	      <th colspan="2">Actions</th>
	    </tr>
		<tr th:each="mailcountsetting : ${mailcountsettings}">
			<td th:text="${mailcountsetting.name}"></td>
			<td th:text="${mailcountsetting.value}"></td>
			<td width="10%"><a th:href="@{/settings/mail_count/__${mailcountsetting.id}__/delete}">Delete</a></td>
			<td width="10%"><a th:href="@{/settings/mail_count/__${mailcountsetting.id}__/update}">Edit</a></td>
		</tr>
	</table>
</div>
</body>
</html>
