<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail Property Setting</title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<br/><br/>
	<form action="#" th:action="@{/mail_addresses/__${mailAddressId}__/mail_property_settings/__${updateMailPropertySetting.mailPropertyKey.id}__/update}" th:object="${updateMailPropertySetting}" method="post">
		<input type="hidden" th:field="*{mailPropertyKey.id}" th:value="${updateMailPropertySetting.mailPropertyKey.id}" />
		<input type="hidden" th:field="*{mailAddress.id}" th:value="${updateMailPropertySetting.mailAddress.id}" />
		<input type="text" th:field="*{mailPropertyKey.name}" th:value="${updateMailPropertySetting.mailPropertyKey.name}" readonly="readonly"/>
		<br/><br/>
		<input type="text" th:field="*{value}" th:value="${updateMailPropertySetting.value}"/>
		<span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Invalid Data </span>
		 <br/><br/>
		<input type="submit" value="Update"/>
	</form>
</body>
</html>
