<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update AlertWordCountSetting</title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/><br/>
    <h4> Mail Count Setting</h4>
	<form action="#" th:action="@{/settings/mail_count/__${id}__/update}" th:object="${mailCountSetting}" method="post">
	   <input type="hidden" th:field="*{id}" />
	   <input type="text" th:field="*{name}" placeholder="Name" readonly="readonly" />
	   <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid name</span>
	   <br/>
	   <input type="text" th:field="*{value}" placeholder="Value"/>
	   <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Invalid value</span>
	   <br/>
	   <input type="submit" value="Update"/>
	</form>
</body>
</html>