<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Details</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br/><br/>
<h3> Edit Mail Property Key</h3>
<br/>
	<form class="form-inline" action="#" th:action="@{/mail_property_keys/__${mailPropertyKey.id}__/update}" th:object="${mailPropertyKey}" method="post">
	   <input type="hidden" th:field="*{id}" th:value="${mailPropertyKey.id}" />
	   <div class="form-group">
	   <input class="form-control" type="text" th:field="*{name}" th:value="${mailPropertyKey.name}"/>
	   </div>
	   <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid Data </span>
	   <br/><br/>
	   <input class="btn btn-default" type="submit" value="Update"/>
	</form>
</body>
</html>
