<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mail Property Setting</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}"/>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<h3>Edit Mail Property Setting</h3>
	<form class="form-inline" action="#" th:action="@{/mail_addresses/__${mailAddressId}__/mail_property_settings/__${updateMailPropertySetting.mailPropertyKey.id}__/update}" th:object="${updateMailPropertySetting}" method="post">
		<input type="hidden" th:field="*{mailPropertyKey.id}" th:value="${updateMailPropertySetting.mailPropertyKey.id}" />
		<div class="form-group">
		<input class="form-control" type="hidden" th:field="*{mailAddress.id}" th:value="${updateMailPropertySetting.mailAddress.id}" />
		</div>
		<br/><br/>
		<div class="form-group">
		<input class="form-control" type="text" th:field="*{mailPropertyKey.name}" th:value="${updateMailPropertySetting.mailPropertyKey.name}" readonly="readonly"/>
		</div>
		<br/><br/>
		<div class="form-group">
		<input class="form-control" type="text" th:field="*{value}" th:value="${updateMailPropertySetting.value}"/>
		</div>
		<span th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Invalid Data </span>
		<br/><br/>
		<input class="btn btn-default" type="submit" value="Update"/>
	</form>
</body>
</html>
